{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ theme.name }}
{% endblock title %}

{% block content %}
{% if user.is_staff and not theme %}
    <div class="container-fluid">
        <div class="row text-center alert">
            <div class="col-12">
                <h1 class="display-4">Мои тексты</h1>
            </div>
            <hr>
        </div>
    </div>
    {% elif profile %}
    <div class="container-fluid">
        <div class="row text-center alert">
            <div class="col-12">
                <h1 class="display-4">{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
            </div>
            <hr>
        </div>
    </div>
    {% elif theme %}
    <div class="container-fluid">
        <div class="row text-center alert">
            <div class="col-12">
                <h1 class="display-4">{{ theme.name }}</h1>
            </div>
            <hr>
            <div class="col-12">
                <p class="lead">{{ theme.description }}</p>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 offset-md-2 col-md-8 offset-xl-3 col-xl-6">
                <h1 class="display-4">
                    Тексты
                    {% if user.is_staff %}
                        <a href="{% url 'create_text' %}"><i class="fas fa-plus"></i></a>
                    {% endif %}
                </h1>
                <div class="list">
                    <ul class="unordered_list">
                        {% for item in content %}
                            <li>
                                <div class="main">
                                    <a href="{% url 'text_details' item.slug %}">{{ item.name }}</a>
                                </div>
                                {% if user.is_authenticated and item.author == user.profile or user.is_superuser %}
                                    <div class="actions">
                                        <a class="btn btn-primary" href="{% url 'update_text' item.slug %}"><i class="fas fa-pen"></i></a>
                                        <a class="btn btn-danger" href="{% url 'delete_text' item.slug %}"><i class="fas fa-trash"></i></a>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                        {% for text in texts %}
                            <li>
                                <div class="main">
                                    <a href="{% url 'text_details' text.slug %}">{{ text.name }}</a>
                                </div>
                                {% if text.author == user.profile or user.is_superuser %}
                                    <div class="actions">
                                        <a class="btn btn-primary" href="{% url 'update_text' text.slug %}">Редактировать</a>
                                        <a class="btn btn-danger" href="{% url 'delete_text' text.slug %}">Удалить</a>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                <form method="get" action="{% url 'materials' %}">
                    <h2>Искать материалы</h2>
                    <input type="text" name="q" placeholder="Найти"><br>
                    <button type="submit" class="btn btn-warning">Искать</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}