{% extends 'base.html' %}
{% load static %}

{% block title %}
    Новый пароль
{% endblock title %}

{% block content %}
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                <form method="post">
                    {% csrf_token %}
                    <h2>Новый пароль</h2>
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    
                    <input type="password" name="new_password1" placeholder="Новый пароль" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list">
                    <input type="password" placeholder="Подтвердите пароль" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"><br>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}