{% extends 'base.html' %}
{% load static %}

{% block title %}
    Сброс пароля завершён
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-md-8 offset-md-2">
            <h1>Пароль успешно сброшен</h1>
            <p>Ваш пароль был успешно сброшен. Пожалуйста, войдите в свой аккаунт.</p>
            <a class="btn btn-primary" href="{% url 'login' %}">Войти</a>
        </div>
    </div>
</div>
{% endblock content %}