{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ user.username }}
{% endblock title %}

{% block content %}
<div class="container-fluid padding">
    <div class="row padding profile">
        <div class="col-12 col-sm-6 col-md-4 text-center">
            <img src="{{ profile.image.url }}" alt="{{ user.username }}">
            <div class="bookmarks">
                <p>Закладки</p>
                <hr>
                <a href="{% url 'user_lesson_bookmarks' %}">
                    <i class="fa-solid fa-person-chalkboard"></i>
                </a>
                <a href="{% url 'user_textbooks_bookmarks' %}">
                    <i class="fa-solid fa-book"></i>
                </a>
                <a href="{% url 'user_texts_bookmarks' %}">
                    <i class="fa-solid fa-language"></i>
                </a>
                <a href="{% url 'user_topics_bookmarks' %}">
                    <i class="fa-solid fa-font"></i>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            {% if not user.first_name and not user.last_name %}
            <h2 class="display-4">{{ user.username }} <a href="{% url 'profile_edit' %}"><i class="fas fa-pen"></i></a></h2>
            {% else %}
            <h2 class="display-4">{{ user.first_name }} {{ user.last_name }} <a href="{% url 'profile_edit' %}"><i class="fas fa-pen"></i></a></h2>
            {% endif %}
            <p class="text-muted">{{ user.username }}</p>
            <p class="lead">{{ user.email }}</p>
            {% if profile.about_me %}
            <p class="lead">{{ profile.about_me }}</p>
            {% endif %}
        </div>
        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-4">
            <div class="goals">
                <h4 class="display-6">Ваши цели</h4>
                {% if not goals %}
                    <p>Вы ещё не выбрали себе цели</p>
                    <p>Почему бы не <a href="{% url 'add_goal' %}">задать новую цель</a> сейчас?</p>
                {% else %}
                    <p>Почему бы не <a href="{% url 'add_goal' %}">задать новую цель</a> сейчас?</p>
                    <div class="accordion accordion-flush" id="my_accordion">
                        {% for goal in goals %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading{{ goal.id }}">
                                <button class="accordion-button collapsed" style="background-color: {% if goal.done %}#b6ffb6{% else %}#ffb6ff{% endif %};" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ goal.id }}" aria-expanded="false" aria-controls="flush-collapse{{ goal.id }}">
                                    {{ goal.name }}
                                    <a href="{% url 'update_goal' goal.slug %}"><i class="fas fa-pen"></i></a>
                                    <a href="{% url 'delete_goal' goal.slug %}"><i class="fas fa-trash"></i></a>
                                </button>
                                </h2>
                                <div id="flush-collapse{{ goal.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ goal.id }}" data-bs-parent="#my_accordion">
                                    {% if goal.description %}
                                    <div class="accordion-body" style="background-color: {% if goal.done %}#a0eea0{% else %}#eea0ee{% endif %};">
                                        {{ goal.description }}
                                    </div>          
                                    {% endif %}              
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if user.is_staff %}
<div class="container-fluid padding">
    <div class="row text-center for_moder">
        <div class="col-12">
            <h2>Мои работы</h2>
        </div>
        <div class="col-sm-4">
            <a class="btn" href="{% url 'my_lessons' %}">Мои уроки</a>
        </div>
        <div class="col-sm-4">
            <a class="btn" href="{% url 'my_texts' %}">Мои тексты</a>
        </div>
        <div class="col-sm-4">
            <a class="btn" href="{% url 'my_topics' %}">Мои топики</a>
        </div>
        <div class="col-sm-6">
            <a class="btn" href="{% url 'my_exercises' %}">Мои упражнения</a>
        </div>    
        <div class="col-sm-6">
            <a class="btn" href="{% url 'my_quizzes' %}">Мои тесты</a>
        </div>
    </div>
</div>
{% endif %}
<!-- <div class="container-fluid padding">
    <div class="row">
        <div class="col-6 text-center">
            <h2>Мои успехи</h2>
        </div>
        <div class="col-6 text-center">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div> -->
<div class="container padding">
    <div class="row text-center">
        <div class="col-12">
            <h2>Мои подписки</h2>
        </div>
        {% for follower in followers %}
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img class="card-img-top" src="{{ follower.image.url }}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{ follower.user.first_name }} {{ follower.user.last_name }}</h4>
                    <p class="card-text">
                        {% for lesson in lessons %}
                            {% if lesson.author == follower %}
                                <a href="{% url 'user_lessons' follower.user.username %}"><i class="fa-solid fa-star"></i> У меня новый урок!</a><br>
                            {% else %}
                                <p style="color: #fff;">мяу</p>
                            {% endif %}
                        {% endfor %}
                    </p>
                    <a href="{% url 'user_profile_detail' follower.user.username %}" class="btn btn-outline-secondary">Перейти</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <form method="get" action="{% url 'profiles' %}">
                <h2>Найдите своих друзей и достигайте поставленных целей вместе!</h2>
                <input type="text" name="q" placeholder="Найти"><br>
                <button type="submit" class="btn btn-warning">Искать</button>
            </form>
        </div>
    </div>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');
        new Chart(ctx, {
            type: 'doughnut',
            data: {
            labels: ['Правильные ответы', 'Неправильные ответы'],
            datasets: [{
                label: 'Ваши ответы',
                data: [{{ total_correct_answers }}, {{ total_wrong_answers }}],
                backgroundColor: [
                '#b6ffb6',
                '#ffb6ff',
                '#b6b6ff'
                ],
                borderColor: [
                '#00ff00',
                '#ff00ff',
                '#0000ff'
                ],
                borderWidth: 2,
                weight: 2
            }]
            },
        });
    </script> -->
{% endblock content %}