{% extends 'base.html' %}
{% load static %}

{% block title %}
    Lessons
{% endblock title %}

{% block content %}
    {% if lessons %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 offset-md-2 col-md-8 offset-xl-3 col-xl-6">
                    <h1 class="display-4">
                        Уроки
                        {% if user.is_staff %}
                            <a href="{% url 'create_lesson' %}"><i class="fas fa-plus"></i></a>
                        {% endif %}
                    </h1>
                    <div class="list">
                        <ul class="unordered_list">
                            {% for lesson in lessons %}
                                <li>
                                    <div class="main">
                                        <a href="{% url 'lesson' lesson.theme.slug lesson.slug %}">{{ lesson.name }}</a>
                                    </div>
                                    <div class="description">
                                        <p>{{ lesson.description }}</p>
                                        <p>Тема: {{ lesson.theme }}</p>
                                    </div>
                                    {% if lesson.author == user.profile or user.is_superuser %}
                                    <div class="actions">
                                        <a class="btn btn-primary" href="{% url 'update_lesson' lesson.slug %}"><i class="fas fa-pen"></i></a>
                                        <a class="btn btn-danger" href="{% url 'delete_lesson' lesson.slug %}"><i class="fas fa-trash"></i></a>
                                    </div>
                                    {% endif %}
                                </li>    
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if textbooks %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 offset-md-2 col-md-8 offset-xl-3 col-xl-6">
                    <h1 class="display-4">
                        Учебные книги
                        {% if user.is_staff %}
                            <a href="{% url 'create_textbook' %}"><i class="fas fa-plus"></i></a>
                        {% endif %}
                    </h1>
                    <div class="list">
                        <ul class="unordered_list">
                            {% for textbook in textbooks %}
                                <li>
                                    <div class="main">
                                        <a href="{% url 'textbook_detail' textbook.slug %}">{{ textbook.name }}</a>
                                    </div>
                                    <div class="description">
                                        <p>{{ textbook.description }}</p>
                                        <p>Автор: {{ textbook.author }}</p>
                                    </div>
                                    {% if user.is_staff %}
                                        <div class="actions">
                                            <a class="btn btn-primary" href="{% url 'update_textbook' textbook.slug %}"><i class="fas fa-pen"></i></a>
                                            <a class="btn btn-danger" href="{% url 'delete_textbook' textbook.slug %}"><i class="fas fa-trash"></i></a>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if texts %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 offset-md-2 col-md-8 offset-xl-3 col-xl-6">
                    <h1 class="display-4">
                        Тексты
                        {% if user.is_staff %}
                            <a href="{% url 'create_text' %}"><i class="fas fa-plus"></i></a>
                        {% endif %}
                    </h1>
                    <div class="list">
                        <ul class="unordered_list">
                            {% for text in texts %}
                                <li>
                                    <div class="main">
                                        <a href="{% url 'text_details' text.slug %}">{{ text.name }}</a>
                                    </div>
                                    <div class="description">
                                        <p>Тема: {{ text.theme }}</p>
                                    </div>
                                    {% if text.author == user.profile or user.is_superuser %}
                                        <div class="actions">
                                            <a class="btn btn-primary" href="{% url 'update_text' text.slug %}"><i class="fas fa-pen"></i></a>
                                            <a class="btn btn-danger" href="{% url 'delete_text' text.slug %}"><i class="fas fa-trash"></i></a>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if topics %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 offset-md-2 col-md-8 offset-xl-3 col-xl-6">
                    <h1 class="display-4">
                        Топики
                        {% if user.is_staff %}
                            <a href="{% url 'create_topic' %}"><i class="fas fa-plus"></i></a>
                        {% endif %}
                    </h1>
                    <div class="list">
                        <ul class="unordered_list">
                            {% for topic in topics %}
                                <li>
                                    <div class="main">
                                        <a href="{% url 'topic_details' topic.slug %}">{{ topic.name }}</a>
                                    </div>
                                    <div class="description">
                                        <p>Тема: {{ topic.theme }}</p>
                                    </div>
                                    {% if user.is_authenticated and topic.author == user.profile or user.is_superuser %}
                                        <div class="actions">
                                            <a class="btn btn-primary" href="{% url 'update_topic' topic.slug %}"><i class="fas fa-pen"></i></a>
                                            <a class="btn btn-danger" href="{% url 'delete_topic' topic.slug %}"><i class="fas fa-trash"></i></a>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-center text-md-end">
                    <a href="{% url 'game' %}" class="btn btn-success">Найти пару</a>
                </div>
                <div class="col-12 col-md-4 text-center text-md-center">
                    <a href="{% url 'ten_random_words' %}" class="btn btn-primary">10 Карточек</a>
                </div>
                <div class="col-12 col-md-4 text-center text-md-start">
                    <a class="btn btn-danger" href="{% url 'one_word' %}">Проверить себя</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if exercises %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 offset-md-2 col-md-8 offset-xl-3 col-xl-6">
                    <h1 class="display-4">
                        Упражнения
                        {% if user.is_staff %}
                            <a href="{% url 'create_exercise' %}"><i class="fas fa-plus"></i></a>
                        {% endif %}
                    </h1>
                    <div class="list">
                        <ul class="unordered_list">
                            {% for exercise in exercises %}
                                <li>
                                    <div class="main">
                                        <a href="{% url 'exercise_details' exercise.slug %}">{{ exercise.name }}</a>
                                    </div>
                                    <div class="description">
                                        <p>Тема: {{ exercise.theme }}</p>
                                    </div>
                                    {% if user.is_authenticated and exercise.author == user.profile or user.is_superuser %}
                                        <div class="actions">
                                            <a class="btn btn-primary" href="{% url 'update_exercise' exercise.slug %}"><i class="fas fa-pen"></i></a>
                                            <a class="btn btn-danger" href="{% url 'delete_exercise' exercise.slug %}"><i class="fas fa-trash"></i></a>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                <form method="get" action="{% url 'materials' %}">
                    <h2>Искать материалы</h2>
                    <input type="text" name="q" placeholder="Найти"><br>
                    <button type="submit" class="btn btn-warning">Искать</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}