{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ textbook.name }}
{% endblock title %}

{% block content %}
    <div class="container-fluid padding textbook">
        <div class="row">
            <div class="col-sm-6 text-sm-center col-md-5 text-md-end">
                <img class="img-fluid" src="{{ textbook.image.url }}" alt="{{ textbook.name }}">
            </div>
            <div class="col-sm-6 col-md-7">
                <h2>{{ textbook.name }}</h2>
                <p>{{ textbook.description }}</p>
                <p>Автор: {{ textbook.author }}</p>
                <p>Тема: {{ textbook.theme }}</p>
                <a class="btn btn-warning" href="{{ textbook.file.url }}">Читать</a>
            </div>
            
        </div>
    </div>
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="offset-1 col-10">
                <p class="tag">
                    Ключевые слова:
                    {% for tag in tags %}
                        <a href="{% url 'textbooks_by_tag' tag.slug %}">{{ tag }}</a>
                    {% endfor %}
                </p>
            </div>
            {% if user.is_authenticated %}
            <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 text-center"></p>
                {% if user in textbook.bookmarks.all %}
                    <form class="sub_unsub" action="{% url 'bookmark_textbook' textbook.id %}" method="post" name="remove" id="remove">
                        {% csrf_token %}
                        <button class="btn" type="submit" name="remove" value="{{ textbook.id }}">Убрать из избранного</button>
                    </form>
                {% else %}
                    <form class="sub_unsub" action="{% url 'bookmark_textbook' textbook.id %}" method="post" name="add" id="add">
                        {% csrf_token %}
                        <button class="btn" type="submit" name="add" value="{{ textbook.id }}">Добавить в избранное</button>
                    </form>
                {% endif %}
            </div>
            {% endif %}
            {% if user.is_staff %}
                <div class="col-12 text-center col-sm-6 text-md-end"><a class="btn btn-primary" href="{% url 'update_textbook' textbook.slug %}">Редактировать</a></div>
                <div class="col-12 text-center col-sm-6 text-md-start"><a class="btn btn-danger" href="{% url 'delete_textbook' textbook.slug %}">Удалить</a></div>
                <br><br><br>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center padding">
                <a class="btn btn-warning" href="{% url 'theme_list' %}">Вернуться к темам</a>
            </div>
        </div>
    </div>
{% endblock content %}