{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ lesson.name }}
{% endblock title %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row text-center alert">
            <div class="col-12">
                <h1 class="display-4">{{ lesson.name }}</h1>
            </div>
            <hr>
            <div class="col-12">
                <p class="lead"><a href="{% url 'user_profile_detail' lesson.author.user.username %}">{{ lesson.author }}</a>, {{ lesson.description }}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="offset-lg-2 col-lg-8">
                <div class="table-responsive">
                    {{ lesson.content|safe }}
                </div>
            </div>
            <div class="offset-1 col-10">
                <p class="tag">
                    Ключевые слова:
                    {% for tag in tags %}
                        <a href="{% url 'lessons_by_tag' tag.slug %}">{{ tag }}</a>
                    {% endfor %}
                </p>
            </div>
            {% if user.is_authenticated %}
            <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 text-center"></p>
                {% if user in lesson.bookmarks.all %}
                    <form class="sub_unsub" action="{% url 'bookmark_lesson' lesson.id %}" method="post" name="remove" id="remove">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit" name="remove" value="{{ lesson.id }}"><i class="fas fa-bookmark"></i></button>
                    </form>
                {% else %}
                    <form class="sub_unsub" action="{% url 'bookmark_lesson' lesson.id %}" method="post" name="add" id="add">
                        {% csrf_token %}
                        <button class="btn btn-warning" type="submit" name="add" value="{{ lesson.id }}"><i class="fas fa-bookmark"></i></button>
                    </form>
                {% endif %}
            </div>
            {% endif %}
            {% if lesson.author == user.profile or user.is_superuser %}
                <div class="col-12 text-center col-sm-6 text-md-end"><a class="btn btn-primary" href="{% url 'update_lesson' lesson.slug %}"><i class="fas fa-pen"></i></a></div>
                <div class="col-12 text-center col-sm-6 text-md-start"><a class="btn btn-danger" href="{% url 'delete_lesson' lesson.slug %}"><i class="fas fa-trash"></i></a></div>
                <br><br><br>
            {% endif %}
        </div>
    </div>
    {% if topic %}
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12">
                    <h2>Также рекомендуются</h2>
                    <a href="{% url 'topic_details' topic.slug %}">{{ topic.name }}</a>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                <form action="{% url 'comments' lesson.theme.slug lesson.slug %}" id="form_comment" method="post">
                    {% csrf_token %}
                    <h3>Что-то не поняли? Задайте вопрос в комментариях!</h3>
                    <input type="hidden" name="parent" id="contact_parent" value="">
                    <textarea name="content" {% if not user.is_authenticated %} disabled {% endif %} id="contact_content" class="form-control" required=""></textarea>
                    <button class="btn btn-success" type="submit"><i class="fa fa-paper-plane"></i></button>
                </form>                
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row padding">
                <h2>Комментарии</h2>
                {% for comment in comments %}
                    {% if comment.parent == None %}
                    <div class="offset-sm-1 col-sm-10">
                        <div class="comment">
                            <img src="{{ comment.author.image.url }}" alt="{{ comment.author.user.username }}">
                            <p class="author"><a href="{% url 'user_profile_detail' comment.author.user.username %}">{{ comment.author }}</a></p>
                            <p>{{ comment.content }}</p>
                            <a href="#form_comment" onclick="addComment('{{ comment.author.user.first_name }}', '{{ comment.id }}')"><i class="fa-solid fa-reply"></i></a>
                        </div>
                    </div>
                        {% for reply in comment.get_replies.all %}
                        <div class="offset-2 col-9">
                            <div class="reply">
                                <img src="{{ reply.author.image.url }}" alt="{{ reply.author.user.username }}">
                                <p class="author"><a href="{% url 'user_profile_detail' reply.author.user.username %}">{{ reply.author }}</a></p>
                                <p>{{ reply.content }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% empty %}
                    <p class="text-center">Пока что нет комментариев</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center padding">
                <a class="btn btn-warning" href="{% url 'theme_list' %}">Вернуться к темам</a>
            </div>
        </div>
    </div>
    <script>
        function addComment(name, id){
            document.getElementById('contact_parent').value = id;
            document.getElementById('contact_content').innerText = `${ name }, `
        }
    </script>
{% endblock content %}