{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ theme.name }}
{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row text-center alert">
            <div class="col-12 offset-md-2 col-md-8 offset-xl-3 col-xl-6">
                <h1 class="display-4">
                    {{ theme.name }}
                    {% if user.is_staff %}
                        <a href="{% url 'update_theme' theme.slug %}"><i class="fas fa-pen"></i></a>
                        <a href="{% url 'delete_theme' theme.slug %}"><i class="fas fa-trash"></i></a>
                    {% endif %}
                </h1>
            </div>
            <hr>
            <div class="col-12">
                <p class="lead">{{ theme.description }}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                
                <ul class="unordered_list">
                    {% for content_type, objects in content_types.items %}
                        {% if objects.exists %}
                            <li>
                                <div class="main">
                                    <a href="{% url 'theme_content' theme.slug content_type %}">
                                        {% if content_type == 'lesson' %}
                                            Уроки
                                        {% elif content_type == 'textbook' %}
                                            Учебники
                                        {% elif content_type == 'text' %}
                                            Тексты
                                        {% elif content_type == 'topic' %}
                                            Топики
                                        {% elif content_type == 'exercise' %}
                                            Упражнения
                                        {% endif %}
                                    </a>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
{% endblock content %}