{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ text.name }}
{% endblock title %}

{% block content %}
    <script>
        function speak(text) {
            var msg = new SpeechSynthesisUtterance();
            msg.lang = 'en-US';
            msg.text = text;
            window.speechSynthesis.speak(msg);
        }
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                <table>
                    {% if user.is_staff %}
                        <tr>
                            <th colspan="4">{{ topic.name }}</th>
                        </tr>
                        <tr>
                            <td>Слово</td>
                            <td>Перевод</td>
                            <td>Транскрипция</td>
                            <td>Действия</td>
                        </tr>
                        {% for word in words %}
                        <tr>
                            <td>
                                {{ word.word_eng }}
                                <a onclick="speak('{{ word.word_eng }}')"><i class="fas fa-volume-up"></i></a>
                            </td>
                            <td>{{ word.word_rus }}</td>
                            <td>{{ word.transcript }}</td>
                            <td>
                                <a href="{% url 'update_word' word.id %}"><i class="fas fa-edit"></i></a>
                                <a href="{% url 'remove_word_from_topic' topic.slug word.id %}"><i class="fas fa-times"></i></a>
                                <a href="{% url 'delete_word' word.id %}"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    {% endfor %}                    
                    {% else %}
                        <tr>
                            <th colspan="3">{{ topic.name }}</th>
                        </tr>
                        <tr>
                            <td>Слово</td>
                            <td>Перевод</td>
                            <td>Транскрипция</td>
                        </tr>
                        {% for word in words %}
                        <tr>
                            <td>{{ word.word_eng }}</td>
                            <td>{{ word.word_rus }}</td>
                            <td>{{ word.transcript }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 text-center"></p>
                {% if user in topic.bookmarks.all %}
                    <form class="sub_unsub" action="{% url 'bookmark_topic' topic.id %}" method="post" name="remove" id="remove">
                        {% csrf_token %}
                        
                        <a class="btn btn-success" href="{% url 'ten_random_words_from_bookmarks' %}">10 случайных слов</a>
                        <button class="btn btn-danger" type="submit" name="remove" value="{{ topic.id }}"><i class="fas fa-bookmark"></i></button>
                        <a class="btn btn-primary" href="{% url 'one_word' %}">Проверить себя</a>
                    </form>
                {% else %}
                    <form class="sub_unsub" action="{% url 'bookmark_topic' topic.id %}" method="post" name="add" id="add">
                        {% csrf_token %}                        
                        <a class="btn btn-success" href="{% url 'ten_random_words' %}">10 случайных слов</a>
                        <button class="btn btn-warning" type="submit" name="add" value="{{ topic.id }}"><i class="fas fa-bookmark"></i></button>
                        <a class="btn btn-primary" href="{% url 'one_word' %}">Проверить себя</a>
                    </form>
                {% endif %}
            </div>
                {% if topic.author == request.user.profile or request.user.is_superuser %}
                    <div class="col-12 text-center col-sm-6 text-md-end"><a class="btn btn-primary" href="{% url 'update_topic' topic.slug %}"><i class="fas fa-pen"></i></a></div>
                    <div class="col-12 text-center col-sm-6 text-md-start"><a class="btn btn-danger" href="{% url 'delete_topic' topic.slug %}"><i class="fas fa-trash"></i></a></div>
                    <br><br><br>
                {% endif %}
            {% else %}
            <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 text-center">
                <a class="btn btn-primary" href="{% url 'one_word' %}">Проверить себя</a>
                <a href="{% url 'ten_random_words' %}" class="btn btn-primary">10 Карточек</a>
            </div>
            {% endif %}
        </div>
    </div>

    {% if user.is_authenticated and topic.author == user.profile or user.is_superuser %}
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                <form method="get" action="{% url 'topic_details' topic.slug %}">
                    <h2>Найдите нужное слово и добавьте его</h2>
                    <input type="text" name="q" placeholder="Найти"><br>
                    <button type="submit" class="btn btn-warning">Искать</button>
                </form>
            </div>
            {% if search_words %}
            <div class="col-12">
                <h1 class="display-4">Найденные слова</h1>
                <div class="list">
                    <ul class="unordered_list">
                        {% for search_word in search_words %}
                            <li>
                                <div class="main">
                                    <a href="{% url 'add_word_to_topic' topic.slug search_word.id %}">{{ search_word.word_eng }} - {{ search_word.word_rus }}</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% else %}
            <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                <form method="post" action="{% url 'topic_details' topic.slug %}">
                    {% csrf_token %}
                    <h2>Или создайте новое</h2>
                    <input type="text" name="word_eng" placeholder="Слово на английском">
                    <input type="text" name="word_rus" placeholder="Слово на русском">
                    <input type="text" name="transcript" placeholder="Транскрипция"><br>
                    <button class="btn btn-success">Создать и добавить</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock content %}