@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --gradient: linear-gradient(to right, #ff0, #0f0, #00f, #f0f);
    --light-gradient: linear-gradient(to right, #ffb, #bfb, #bbf, #fbf);
    --dark-gradient: linear-gradient(to right, #660, #060, #006, #606);
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter Tight', sans-serif;
    color: #222;
}

/*  Navbar  */
.navbar-brand {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 auto;
}

.navbar {
    background-color: #333333;
}

.navbar a {
    color: #DBDBDB;
}

.navbar .navbar-brand:hover {
    background-image: -webkit-linear-gradient(90deg, #ffffb6,#b6ffb6,#b6b6ff,#ffb6ff);/* Chrome 10-25, Safari 5.1-6 */                          
    background-image: linear-gradient(90deg, #ffffb6,#b6ffb6,#b6b6ff,#ffb6ff);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   ;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.3s ease;
}

.navbar-nav {
    padding-right: 20px;
}

.navbar-nav a {
    font-size: 1em;
}

.navbar-nav a:hover {
    color: #C3C3C3;
}

.navbar-toggler {
    border: none !important;
    border-radius: 0px !important;
    outline: none !important;
    color: #fff;
    background-color: #ccc;
}

/*  Footer  */
footer {
    background-color: #333333;
    padding-top: 30px;
    border-top: 2px solid;
    border-image: linear-gradient(to right, #ffffb6,#b6ffb6,#b6b6ff,#ffb6ff) 30;
}

footer h3 {
    color: #fff;
    font-size: 2em;
}

footer h3:hover {
    background-image: -webkit-linear-gradient(90deg, #ffffb6,#b6ffb6,#b6b6ff,#ffb6ff);/* Chrome 10-25, Safari 5.1-6 */                          
    background-image: linear-gradient(90deg, #ffffb6,#b6ffb6,#b6b6ff,#ffb6ff);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   ;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.3s ease;
}

@media (max-width: 576px) {
    .display-4 {
        font-size: 2em;
    }
}
