/*  Form    */
form {
    box-sizing: border-box;
    margin: 20px;
    font-weight: 300;
    padding: 30px 25px;
    box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.2);
    background-color: #ddd;
    border-right: 10px solid;
    border-image: linear-gradient(#ffffb6,#b6ffb6,#b6b6ff,#ffb6ff);
    border-image-slice: 1;
}

form input {
    color: #666;
	background: white;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	height: 40px;
	width: 70%;
	padding: 6px 12px;
	border: 0px;
    margin: 15px auto;
}

form.sub_unsub {
    margin: 0 auto;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}

form textarea {
    color: #666;
    background: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    height: 100px;
    width: 70%;
    padding: 6px 12px;
    border: 0px;
    margin: 15px auto;
}

form select {
    color: #666;
    background: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    height: 40px;
    width: 70%;
    padding: 6px 12px;
    border: 0px;
    margin: 15px auto;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 15px;
}
form label {
    vertical-align:middle;
    padding-right: 15px;
}
form label.form-check-label {
    vertical-align:middle;
    margin: 15px;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 1px;
}
input[type="radio"] {
    width: 16px;
    height: 16px;
    margin: 15px;
}
form label.form-radio-label {
    vertical-align:middle;
    margin: 15px;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 1px;
}