/*  Unordered list    */
.unordered_list {
	list-style: none;
	margin: 0 20px;
}
.unordered_list li {
	margin: 10px 0;
	position: relative;
}
.main a {
	color: var(--secondary-500);
	border-left: 4px solid;
	border-image: var(--secondary-500);
	border-image-slice: 1;
	display: block;
	padding-left: 15px;
	line-height: 44px;
	font-size: 20px;
	position: relative;
	transition: 0.3s linear;
}
.main a:before {
	content: "";
	width: 4px;
	height: 70%;
	background: var(--primary-500);
    position: absolute;
	top: 15%;
	left: -8px;
    transition: 0.3s linear;
}
.main a:hover {
    color: var(--secondary);
	border-left: 4px solid;
	border-image: var(--secondary);
	border-image-slice: 1;
	display: block;
	padding-left: 15px;
	line-height: 44px;
	font-size: 20px;
	position: relative;
	transition: 0.3s linear;
}
.main a:hover:before {
	content: "";
	width: 4px;
	height: 70%;
	background: var(--primary);
	position: absolute;
	top: 15%;
	left: -8px;
    transition: 0.3s linear;
}
.description {
    margin: 0 20px;
    font-weight: 300;    
}
.actions {
    margin: 0 20px;
}

/*  Ordered list  */
ol {
	padding: 0;
	margin: 0;
	max-width: 700px;
	position: relative;
}

ol::before {
	content: '';
	width: 0.5rem;
	height: 100%;
	position: absolute;
	top: 0;
	left: 8%;
	background: var(--background-100);;
	z-index: -1;
}

.ordered_list li {
	padding: 0.5rem 1.5rem 1rem;
	border-radius: 10px;
	background: var(--background-100);
}

.ordered_list li + li {
	margin-top: 1rem;
}

::marker {
	font-weight: 600;
	color: var(--accent);
	font-size: 1.8rem;
}