.error-message, .correct, .did_not_answer, .incorrect {
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: 300;
    color: var(--text-700);
}
.error-message { background-color: var(--secondary-100); }
.correct { background-color: var(--primary-200); }
.did_not_answer { background-color: var(--primary-100); }
.incorrect { background-color: var(--secondary-200); }

.question a {
    margin-left: 15px;
    font-weight: 300;
    font-size: 1.2em;
    color: var(--text-700);
    transition: all 0.5s ease;
}

.question a:hover {
    color: var(--text-500);
    transition: all 0.5s ease;
}

.answers a {
    margin-left: 15px;
    font-weight: 300;
    color: var(--text-700);
    transition: all 0.5s ease;
}

.answers a:hover {
    color: var(--text-500);
    transition: all 0.5s ease;
}

.rounded-circle {
    width: 100px;
    height: 100px
}