/*  Table   */
table {
	font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 5px;
	background: #ccc;
	margin: 15px auto;
}
th {
	font-size: 22px;
	font-weight: 300;
	padding: 12px 10px;
	border-bottom: 3px solid;
}
tbody tr:nth-child(2) {
	border-bottom: 3px solid;
	background-image: linear-gradient(to right, #ffffb6,#b6ffb6,#b6b6ff,#ffb6ff);
	border-image-slice: 1;
}
td {
	padding: 10px;
	color: #555;
}
table a {
    color: #555;
    text-decoration: none;
    transition: 0.3s linear;
}
table a:hover {
    color: #aaa;
    text-decoration: none;
    transition: 0.3s linear;
}