/*  Table   */
table {
	font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 5px;
	border-radius: 10px;
	background: var(--primary-100);
	margin: 15px auto;
}
th {
	font-size: 22px;
	font-weight: 300;
	padding: 12px 10px;
	border-bottom: 3px solid;
}
tbody tr:nth-child(2) {
	border-bottom: 3px solid;
	background: var(--secondary-100);
	border-image-slice: 1;
}
td {
	padding: 10px;
	color: var(--text);
}
table a {
    color: var(--text);
    text-decoration: none;
    transition: 0.3s linear;
}
table a:hover {
    color: var(--text-500);
    text-decoration: none;
    transition: 0.3s linear;
}