{% extends 'base.html' %}
{% load static %}

{% block title %}
    Сброс пароля
{% endblock title %}

{% block content %}
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                <form method="post">
                    {% csrf_token %}
                    <h2>Сброс пароля</h2>
                    <input type="email" name="email" placeholder="Email" autocomplete="email" maxlength="254" required="" id="id_email">
                    <button type="submit" class="btn btn-success">Сброс пароля</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}