{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ user.username }}
{% endblock title %}

{% block content %}
<div class="container-fluid padding">
    <div class="row padding profile">
        <div class="col-12 col-sm-6 col-md-4 text-cente">
            <img src="{{ profile.image.url }}" alt="{{ user.username }}">
            {% if user.is_authenticated %}
                <div class="text-center">
                    <form class="sub_unsub" action="{% url 'follow_unfollow' user.username %}" method="POST">
                        {% csrf_token %}
                        {% if user.profile in request.user.profile.follows.all %}
                            <span class="text-start">
                                <button class="btn btn-danger" name="follow" value="unfollow" type="submit">Отписаться</button>
                            {% else %}
                                <button class="btn btn-warning" name="follow" value="follow" type="submit">Подписаться</button>
                            </span>
                        {% endif %}
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="user_info">
                {% if not user.first_name and not user.last_name %}
                <h2 class="display-4">{{ user.username }}</h2>
                {% else %}
                <h2 class="display-4">{{ user.first_name }} {{ user.last_name }}</h2>
                {% endif %}
                {% if user.profile in request.user.profile.follows.all %}
                <p class="text-muted">{{ user.email }}</p>
                {% endif %}
                {% if profile.about_me %}
                <p class="lead">{{ profile.about_me }}</p>
                {% endif %}
            </div>
        </div>
        <div class="col-12 offset-sm-2 col-sm-8 offset-md-0 col-md-4">
            <div class="goals">
                <h4 class="display-6">Цели пользователя</h4>
                {% if not goals %}
                    <p>Пользователь ещё не выбрал себе цели</p>
                {% endif %}
                {% for goal in goals %}
                    {% if goal.done %}
                        <p class="correct">
                            {{ goal.name }} - {{ goal.description }}
                        </p>
                    {% else %}
                        <p class="incorrect">
                            {{ goal.name }} - {{ goal.description }}
                        </p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% if profile.user.is_staff %}
<div class="container-fluid padding">
    <div class="row text-center for_moder">
        <div class="col-sm-4">
            <a class="btn" href="{% url 'user_lessons' user.username %}">Уроки</a>
        </div>
        <div class="col-sm-4">
            <a class="btn" href="{% url 'user_texts' user.username %}">Тексты</a>
        </div>
        <div class="col-sm-4">
            <a class="btn" href="{% url 'user_topics' user.username %}">Топики</a>
        </div>
        <div class="col-sm-6">
            <a class="btn" href="{% url 'user_exercises' user.username %}">Упражнения</a>
        </div>    
        <div class="col-sm-6">
            <a class="btn" href="{% url 'user_quizzes' user.username %}">Тесты</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}