
{% if error_message %}
    <div class="error-message">{{ error_message }}</div>
{% elif is_correct %}
    <div class="correct">
        <p>Верно!</p>
        <p>{{ question.explanation }}</p>
    </div>
{% elif is_correct == None %}
    <div class="did_not_answer">
        <p>Не выбран ответ. Вы можете сделать это позже.</p>
    </div>
{% else %}
    <div class="incorrect">
        {% if correct_answer|length > 1 %}
                Неверно! Правильные ответы:
                <ul>
                    {% for answer in correct_answer %}<li>{{ answer }}</li>{% endfor %}
                </ul>
            </div>
        {% else %}
        <p>Неверно! Правильный ответ: {{ correct_answer }}</p>        
        {% endif %}
        <p>{{ question.explanation }}</p>
    </div>
{% endif %}